# Nakordoni Developer API — OpenAPI 3.0 spec
# Generated 2026-07-15
# Regenerate: sudo -u www-data php /var/www/html/helpers/push_github_docs.php --file=openapi.yaml

openapi:3.0.3
info:
title: Nakordoni Developer API
version: 1.0.0
description: "Real-time border queue data for Europe."
contact: 
  name: Nakordoni Dev Support
  url: "https://nakordoni.eu/en/developers/tickets"
license: 
  name: See attribution requirements
  url: "https://nakordoni.eu/en/developers/docs#attribution"
servers:- url: "https://nakordoni.eu/api/v1/data"
  description: Production
security:- BearerAuth: []
components:
securitySchemes: 
  BearerAuth: 
    type: http
    scheme: bearer
    bearerFormat: "NKD-DEV-XXXX-XXXX-XXXX"
paths:
/status: 
  get: 
    summary: API Status
    description: "Live health of every Developer-API product: online / degraded / offline, response latency and last-checked time, plus an overall rollup. Public — no API key required, never counts against your quota. Refreshed every 5 minutes. Mirrors the human status page at nakordoni.eu/{lang}/status."
    operationId: get_status
    parameters: []
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/checkpoints: 
  get: 
    summary: Checkpoints Directory API
    description: "Directory of all monitored border checkpoints: IDs, names, countries, coordinates and status. Use it to discover ppid values for the other APIs."
    operationId: get_checkpoints
    parameters:       - name: country
        in: query
        description: "Filter by numeric country code (1=UA, 2=PL, 3=SK, 4=HU, 5=RO, 6=MD, 7=BY, 8=LT, 9=LV, …)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for checkpoint names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/multi: 
  get: 
    summary: "Multi-Checkpoint API"
    description: "Fetch live queue status and/or data freshness for up to 20 checkpoints in a single request. Designed for dashboard builders who poll many PPIDs simultaneously — reduces 20+ individual calls to one. Quota counts as ⌈(N PPIDs × sub-products) / 2⌉ — 50% cheaper than the equivalent individual calls. Use include=queue,update-info to get both datasets at once."
    operationId: get_multi
    parameters:       - name: ppids
        in: query
        description: "Comma-separated list of checkpoint IDs (required, max 20) — e.g. id_2,id_13,id_15,id_59"
        schema: 
          type: string
      - name: include
        in: query
        description: "Comma-separated sub-products to include: queue, update-info (default: queue,update-info)"
        schema: 
          type: string
      - name: lang
        in: query
        description: "Language code for checkpoint names in queue responses (default: en)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/border: 
  get: 
    summary: Border Queue API
    description: "All checkpoints on a given border + vehicle type in one call — live queue, wait estimate, and data freshness for every crossing point. Supports single destination, comma-separated list, or \"all\" to query all neighbours at once. Results sorted by queue length ascending, each checkpoint tagged with its border country."
    operationId: get_border
    parameters:       - name: origin
        in: query
        description: "Origin country code (URL path segment): 1=Ukraine, 2=Poland, 3=Slovakia, 4=Hungary, 5=Romania, 6=Moldova, 7=Belarus, 8=Lithuania, 9=Latvia, 10=Estonia, 11=Slovenia, 12=Bulgaria, 13=Serbia, 14=Turkey, 15=North Macedonia, 16=Croatia, 17=Bosnia, 18=Germany, 19=Greece, 20=Italy, 21=Albania, 22=Montenegro, 23=Kosovo"
        schema: 
          type: string
      - name: destination
        in: query
        description: "Destination (URL path segment): single country code, comma-separated list (e.g. 2,3,5), or \"all\" to expand to all neighbours with monitored data"
        schema: 
          type: string
      - name: crossing_type
        in: query
        description: "Vehicle type (URL path segment): 4=car, 5=taxfree car, 6=bus, 7=pedestrian, 8=truck<7.5t, 9=truck"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for checkpoint names in the response (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/search: 
  get: 
    summary: Checkpoint Search API
    description: "Find checkpoint PPIDs by name. Pass a single name or a comma-separated list (up to 20). Searches all translation languages; returns all PPIDs at that location grouped by vehicle type (4=car, 5=taxfree car, 6=bus, 7=pedestrian, 8=truck<7.5t, 9=truck). Use this to quickly discover the right ppid before calling the queue or forecast APIs."
    operationId: get_search
    parameters:       - name: name
        in: query
        description: "Checkpoint name or comma-separated names, in any language (e.g. Krakovets, Краківець, Krakivets)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for returned names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/queue: 
  get: 
    summary: Live Border Queue API
    description: "Real-time queue length, wait estimate and status for any monitored checkpoint, plus hourly/daily aggregates."
    operationId: get_queue
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13 (see /api/v1/data/checkpoints)"
        schema: 
          type: string
      - name: section
        in: query
        description: Data section (optional)
        schema: 
          type: string
      - name: origin
        in: query
        description: Origin country code (optional)
        schema: 
          type: string
      - name: destination
        in: query
        description: Destination country code (optional)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/queue-advanced: 
  get: 
    summary: Advanced Wait Time API
    description: "Wait time adjusted for live traffic flow and weather, with a full breakdown of each adjustment, plus the same wait_status/trend fields as border and multi. Billed at 1.5x a normal heavy-class call, reflecting the extra traffic/weather/driver-report lookups. Granted on request."
    operationId: get_queue_advanced
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13 (see /api/v1/data/checkpoints)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/stats: 
  get: 
    summary: Checkpoint Hourly Statistics API
    description: "Hourly historical queue stats per checkpoint and date: 24 hourly values, daily avg/min/max, peak and quietest hours, day-over-day comparison."
    operationId: get_stats
    parameters:       - name: ppid
        in: query
        description: Checkpoint ID
        schema: 
          type: string
      - name: date
        in: query
        description: "YYYY-MM-DD (default: yesterday)"
        schema: 
          type: string
      - name: compare
        in: query
        description: "1 = include previous day + delta"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code (default uk)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/day-stats: 
  get: 
    summary: Best Time to Cross API
    description: "Typical-week load statistics per checkpoint: 7×24 day-of-week × hour matrix (median + p25/p75 band), quietest/busiest day, best/worst 2-hour windows. Precomputed daily from ~60 days of real observations."
    operationId: get_day_stats
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for weekday/unit labels (default uk)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/forecast: 
  get: 
    summary: Queue Forecast API
    description: "ML ensemble forecast of queue levels: 24-hour and 7-day (168h) horizons with confidence bounds. The same model that powers nakordoni.eu predictions."
    operationId: get_forecast
    parameters:       - name: ppid
        in: query
        description: Checkpoint ID
        schema: 
          type: string
      - name: prediction_steps
        in: query
        description: "24 (default) or 168 for 7-day"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/alternatives: 
  get: 
    summary: Checkpoint Alternatives API
    description: "Nearby alternative checkpoints on the same border with current queues and distance deltas. By default filters to the same vehicle type as the requested ppid. Use crossing_type to override — e.g. crossing_type=4 for cars, crossing_type=7 for pedestrians."
    operationId: get_alternatives
    parameters:       - name: ppid
        in: query
        description: Checkpoint ID (e.g. id_13)
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code (default uk)
        schema: 
          type: string
      - name: crossing_type
        in: query
        description: "Optional vehicle type override: 4=car, 5=taxfree car, 6=bus, 7=pedestrian, 8=truck<7.5t, 9=truck. Defaults to same type as the requested ppid."
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (1–10, default 5)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/update-info: 
  get: 
    summary: Data Freshness API
    description: "When a checkpoint was last updated, by which source, and a freshness rating."
    operationId: get_update_info
    parameters:       - name: ppid
        in: query
        description: Checkpoint ID
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fuel: 
  get: 
    summary: EU Fuel Prices API
    description: "Fuel prices across EU countries — country averages, nearest stations by coordinates, or stations near a border checkpoint. Aggregated from official national sources (tankerkoenig for DE, petrol.pl for PL, fuelo.net for HU/SK/RO, EU bulletin for others)."
    operationId: get_fuel
    parameters:       - name: mode
        in: query
        description: "country (default) | nearest | border. country = national average; nearest = stations near lat/lon; border = stations near a checkpoint"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO country code for mode=country (PL, DE, AT, FR, ES, IT, PT, SI, LU, RO, DK, HR, HU, SK, UA, …)"
        schema: 
          type: string
      - name: lat
        in: query
        description: "Latitude for mode=nearest"
        schema: 
          type: string
      - name: lon
        in: query
        description: "Longitude for mode=nearest (alias: lng)"
        schema: 
          type: string
      - name: radius_km
        in: query
        description: "Search radius km for mode=nearest (default 30)"
        schema: 
          type: string
      - name: ppid
        in: query
        description: "Checkpoint ID for mode=border (e.g. id_13)"
        schema: 
          type: string
      - name: fuel_type
        in: query
        description: "diesel | e5 | e10 | lpg | petrol (optional, for mode=nearest)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code for labels
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max stations returned for mode=nearest/border (default 5)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fuel-cities: 
  get: 
    summary: Fuel Prices by City API
    description: "Per-city fuel price summary for a country: cheapest station price and average across the top 5 stations in each major city. Covers the same countries as the nakordoni.eu fuel pages (AT, DE, FR, ES, IT, PT, SI, LU, RO, DK, HR)."
    operationId: get_fuel_cities
    parameters:       - name: country
        in: query
        description: "ISO-2 country code (required). Supported: at, de, fr, es, it, pt, si, lu, ro, dk, hr"
        schema: 
          type: string
      - name: fuel_type
        in: query
        description: "diesel (default) | e5 | e10 | lpg — see available_fuel_types in the response for what each country supports"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code for city names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/pois: 
  get: 
    summary: Driver POIs API
    description: "Truck parkings (14k+), free showers, services and supermarkets across Europe with coordinates."
    operationId: get_pois
    parameters:       - name: type
        in: query
        description: "parking|shower|supermarket|industrial"
        schema: 
          type: string
      - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: radius
        in: query
        description: Radius km
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/currency: 
  get: 
    summary: Currency Exchange Rates API
    description: "EUR-based exchange rates for PLN, CZK, HUF, USD, GBP, CHF, NOK and UAH — sourced from Frankfurter (ECB), cached 6h. No parameters; always returns the full rate table. Powers the nakordoni.eu currency calculator and fuel-cost pages."
    operationId: get_currency
    parameters: []
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/truck-bans: 
  get: 
    summary: Truck Driving Bans API
    description: "European truck driving restrictions by country and date, including seasonal and holiday bans. Each country carries a live status computed in its own timezone (active_window / next_window), plus a covered_countries list."
    operationId: get_truck_bans
    parameters:       - name: country
        in: query
        description: ISO country code (optional)
        schema: 
          type: string
      - name: date
        in: query
        description: "YYYY-MM-DD (optional)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/trading-sundays: 
  get: 
    summary: Trading Sundays API
    description: "Sunday retail-opening regulations and upcoming trading Sundays per regulated EU country."
    operationId: get_trading_sundays
    parameters:       - name: country
        in: query
        description: ISO country code (optional)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/holiday-calendar: 
  get: 
    summary: Holiday Calendar API
    description: "Official public holidays per European country — dates, local names and type. Backed by the same Nager.Date / OpenHolidaysAPI service (7-day cache, locally-computed Kosovo calendar) that powers the nakordoni.eu holiday calendar page and the prediction system's calendar factors. Country mode returns the full-year list; upcoming mode returns a flat cross-country list within N days; default mode indexes a core country set with each next holiday."
    operationId: get_holiday_calendar
    parameters:       - name: country
        in: query
        description: "ISO-2 country code for the full-year list of one country, e.g. PL (optional — omit for the index mode)"
        schema: 
          type: string
      - name: year
        in: query
        description: "YYYY (default: current year)"
        schema: 
          type: string
      - name: upcoming
        in: query
        description: "1 = flat list of upcoming holidays across countries within `days` (optional)"
        schema: 
          type: string
      - name: days
        in: query
        description: "Horizon in days for upcoming mode, 1-180 (default 30)"
        schema: 
          type: string
      - name: countries
        in: query
        description: "Comma-separated ISO-2 list to scope index/upcoming mode, max 15 (default: UA,PL,SK,HU,RO,MD,DE,CZ,BG,AT)"
        schema: 
          type: string
      - name: lang
        in: query
        description: "Language for the localized `name` field (default en) — same 24-language translator as the nakordoni.eu holiday calendar page. Falls back to the local/English name for anything not yet cached."
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/bus-carriers: 
  get: 
    summary: Bus Carrier Border Stats API
    description: "Border-crossing performance per bus carrier: crossings, average/median/min/max wait minutes — built from our own plate-matched crossing records."
    operationId: get_bus_carriers
    parameters:       - name: ppid
        in: query
        description: Checkpoint ID or "all" for aggregated
        schema: 
          type: string
      - name: days
        in: query
        description: "Period 1-90 (default 30)"
        schema: 
          type: string
      - name: min_crossings
        in: query
        description: Minimum crossings to include a carrier (default 3)
        schema: 
          type: string
      - name: limit
        in: query
        description: Max carriers returned (default 20)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/road-conditions: 
  get: 
    summary: Road Conditions API
    description: "Approved road condition reports near borders and on major corridors: potholes, roadworks, closures, ice, hazards — combining driver reports with automatic accelerometer detections from our navigation app."
    operationId: get_road_conditions
    parameters:       - name: country
        in: query
        description: ISO country code (optional)
        schema: 
          type: string
      - name: condition_type
        in: query
        description: "pothole|speed_bump|roadwork|closure|hazard|ice|… (optional)"
        schema: 
          type: string
      - name: severity
        in: query
        description: "low|moderate|major|critical (optional)"
        schema: 
          type: string
      - name: lat
        in: query
        description: Latitude (optional)
        schema: 
          type: string
      - name: lng
        in: query
        description: Longitude (optional)
        schema: 
          type: string
      - name: radius
        in: query
        description: Radius km (default 50)
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (default 100, cap 500)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/assistant: 
  get: 
    summary: Border AI Assistant API
    description: "Ask our production AI assistant any border-crossing question (queues, forecasts, rules, fuel, routes) and get the same grounded answer that powers the nakordoni.eu widget — in 24 languages. Already used in production by yaknakordoni.com.ua."
    operationId: get_assistant
    parameters:       - name: q
        in: query
        description: The question (plain text)
        schema: 
          type: string
      - name: lang
        in: query
        description: Answer language (default en)
        schema: 
          type: string
      - name: ppid
        in: query
        description: "Checkpoint context, e.g. id_13 (optional)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/travel-matrix: 
  get: 
    summary: Travel Matrix API
    description: "Travel time + border queue data for all checkpoints from a given origin. Returns drive time, current queue, total estimated journey time, and distance for every relevant crossing — sorted from fastest. Supports multi-leg routes (e.g. Germany → Poland → Ukraine border). Powers the nakordoni.eu navigator \"Choose a crossing\" feature."
    operationId: get_travel_matrix
    parameters:       - name: origin_lat
        in: query
        description: Origin latitude (required)
        schema: 
          type: string
      - name: origin_lon
        in: query
        description: Origin longitude (required)
        schema: 
          type: string
      - name: type
        in: query
        description: "Crossing type: 4=car UA→EU (default), 5=car EU→UA, 6=bus, 7=pedestrian, 8=truck<7.5t, 9=truck"
        schema: 
          type: string
      - name: dest
        in: query
        description: "Destination country code (1=UA, 2=PL, 3=SK, 4=HU, 5=RO, 6=MD) or \"all\" (default)"
        schema: 
          type: string
      - name: origin_country
        in: query
        description: "ISO-2 origin country (e.g. DE, PL, CZ). Enables multi-leg route calculation for non-border countries"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code for checkpoint names (default uk)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
