# Nakordoni Developer API — OpenAPI 3.0 spec
# Generated 2026-08-25
# Regenerate: sudo -u www-data php /var/www/html/helpers/push_github_docs.php --file=openapi.yaml

openapi:3.0.3
info:
title: Nakordoni Developer API
version: 1.0.0
description: "Real-time border queue data for Europe."
contact: 
  name: Nakordoni Dev Support
  url: "https://nakordoni.eu/en/developers/tickets"
license: 
  name: See attribution requirements
  url: "https://nakordoni.eu/en/developers/docs#attribution"
servers:- url: "https://nakordoni.eu/api/v1/data"
  description: Production
security:- BearerAuth: []
components:
securitySchemes: 
  BearerAuth: 
    type: http
    scheme: bearer
    bearerFormat: "NKD-DEV-XXXX-XXXX-XXXX"
paths:
/status: 
  get: 
    summary: API Status
    description: "Live health of every Developer-API product: online / degraded / offline, response latency and last-checked time, plus an overall rollup. Public — no API key required, never counts against your quota. Refreshed every 5 minutes. Mirrors the human status page at nakordoni.eu/{lang}/status."
    operationId: get_status
    parameters: []
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/checkpoints: 
  get: 
    summary: Checkpoints Directory API
    description: "Directory of all monitored border checkpoints: IDs, names, countries, coordinates and status. Use it to discover ppid values for the other APIs. Each row carries has_day_stats — false means the Best Time to Cross API has no matrix for that checkpoint and would answer 404, so skip it instead of polling."
    operationId: get_checkpoints
    parameters:       - name: country
        in: query
        description: "Filter by numeric country code (1=UA, 2=PL, 3=SK, 4=HU, 5=RO, 6=MD, 7=BY, 8=LT, 9=LV, …)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for checkpoint names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/multi: 
  get: 
    summary: "Multi-Checkpoint API"
    description: "Fetch live queue status and/or data freshness for up to 20 checkpoints in a single request. Designed for dashboard builders who poll many PPIDs simultaneously — reduces 20+ individual calls to one. Quota counts as ⌈(N PPIDs × sub-products) / 2⌉ — 50% cheaper than the equivalent individual calls. Use include=queue,update-info to get both datasets at once."
    operationId: get_multi
    parameters:       - name: ppids
        in: query
        description: "Comma-separated list of checkpoint IDs (required, max 20) — e.g. id_2,id_13,id_15,id_59"
        schema: 
          type: string
      - name: include
        in: query
        description: "Comma-separated sub-products to include: queue, update-info (default: queue,update-info)"
        schema: 
          type: string
      - name: lang
        in: query
        description: "Language code for checkpoint names in queue responses (default: en)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/border: 
  get: 
    summary: Border Queue API
    description: "All checkpoints on a given border + vehicle type in one call — live queue, wait estimate, and data freshness for every crossing point. Supports single destination, comma-separated list, or \"all\" to query all neighbours at once. Results sorted by queue length ascending, each checkpoint tagged with its border country."
    operationId: get_border
    parameters:       - name: origin
        in: query
        description: "Origin country code (URL path segment): 1=Ukraine, 2=Poland, 3=Slovakia, 4=Hungary, 5=Romania, 6=Moldova, 7=Belarus, 8=Lithuania, 9=Latvia, 11=Slovenia, 12=Bulgaria, 13=Serbia, 14=Turkey, 15=North Macedonia, 16=Croatia, 17=Bosnia, 18=Germany, 19=Greece, 20=Italy, 21=Albania, 22=Montenegro, 23=Kosovo"
        schema: 
          type: string
      - name: destination
        in: query
        description: "Destination (URL path segment): single country code, comma-separated list (e.g. 2,3,5), or \"all\" to expand to all neighbours with monitored data"
        schema: 
          type: string
      - name: crossing_type
        in: query
        description: "Vehicle type (URL path segment): 4=car, 5=taxfree car, 6=bus, 7=pedestrian, 8=truck<7.5t, 9=truck"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for checkpoint names in the response (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/search: 
  get: 
    summary: Checkpoint Search API
    description: "Find checkpoint PPIDs by name. Pass a single name or a comma-separated list (up to 20). Searches all translation languages; returns all PPIDs at that location grouped by vehicle type (4=car, 5=taxfree car, 6=bus, 7=pedestrian, 8=truck<7.5t, 9=truck). Use this to quickly discover the right ppid before calling the queue or forecast APIs."
    operationId: get_search
    parameters:       - name: name
        in: query
        description: "Checkpoint name or comma-separated names, in any language (e.g. Krakovets, Краківець, Krakivets)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for returned names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/queue: 
  get: 
    summary: Live Border Queue API
    description: "Real-time queue length, wait estimate and status for any monitored checkpoint, plus hourly/daily aggregates."
    operationId: get_queue
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13 (see /api/v1/data/checkpoints)"
        schema: 
          type: string
      - name: section
        in: query
        description: Data section (optional)
        schema: 
          type: string
      - name: origin
        in: query
        description: Origin country code (optional)
        schema: 
          type: string
      - name: destination
        in: query
        description: Destination country code (optional)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/queue-advanced: 
  get: 
    summary: Advanced Wait Time API
    description: "Wait time adjusted for live traffic flow and weather, with a full breakdown of each adjustment, plus the same wait_status/trend fields as border and multi. Billed at 1.5x a normal heavy-class call, reflecting the extra traffic/weather/driver-report lookups. Granted on request."
    operationId: get_queue_advanced
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13 (see /api/v1/data/checkpoints)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/stats: 
  get: 
    summary: Checkpoint Hourly Statistics API
    description: "Hourly historical queue stats per checkpoint and date: 24 hourly values, daily avg/min/max, peak and quietest hours, day-over-day comparison."
    operationId: get_stats
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13 (see /api/v1/data/checkpoints)"
        schema: 
          type: string
      - name: date
        in: query
        description: "YYYY-MM-DD (default: yesterday)"
        schema: 
          type: string
      - name: compare
        in: query
        description: "1 = include previous day + delta"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code (default uk)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/day-stats: 
  get: 
    summary: Best Time to Cross API
    description: "Typical-week load statistics per checkpoint: 7×24 day-of-week × hour matrix (median + p25/p75 band), quietest/busiest day, best/worst 2-hour windows. Precomputed daily from ~60 days of real observations."
    operationId: get_day_stats
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for weekday/unit labels (default uk)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/forecast: 
  get: 
    summary: Queue Forecast API
    description: "ML ensemble forecast of queue levels: 24-hour and 7-day (168h) horizons with confidence bounds. The same model that powers nakordoni.eu predictions."
    operationId: get_forecast
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13 (see /api/v1/data/checkpoints)"
        schema: 
          type: string
      - name: prediction_steps
        in: query
        description: "24 (default) or 168 for 7-day"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/alternatives: 
  get: 
    summary: Checkpoint Alternatives API
    description: "Nearby alternative checkpoints on the same border with current queues and distance deltas. By default filters to the same vehicle type as the requested ppid. Use crossing_type to override — e.g. crossing_type=4 for cars, crossing_type=7 for pedestrians."
    operationId: get_alternatives
    parameters:       - name: ppid
        in: query
        description: Checkpoint ID (e.g. id_13)
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code (default uk)
        schema: 
          type: string
      - name: crossing_type
        in: query
        description: "Optional vehicle type override: 4=car, 5=taxfree car, 6=bus, 7=pedestrian, 8=truck<7.5t, 9=truck. Defaults to same type as the requested ppid."
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (1–10, default 5)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/update-info: 
  get: 
    summary: "Live Queue & Freshness API"
    description: "Current queue length for one checkpoint plus how fresh that reading is — returns queue_now, freshness, age_minutes, is_realtime, status, timestamp and timezone. This is the STANDARD-class way to poll live queue data: use it for frequent refreshes and keep the heavy quota for /queue, /multi and /forecast, which return the fuller payload (wait_min, trend, history)."
    operationId: get_update_info
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13 (see /api/v1/data/checkpoints)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fuel: 
  get: 
    summary: EU Fuel Prices API
    description: "Fuel prices across EU countries — country averages, nearest stations by coordinates, or stations near a border checkpoint. Aggregated from official national price registries and market data. A single-country answer carries a `grades` object mapping each price key (petrol, petrol95plus, petrol92, petrol98, diesel, lpg) to its canonical grade and to the local pump name for that country; the all-countries summary carries the canonical mapping only, as `grade_keys`."
    operationId: get_fuel
    parameters:       - name: mode
        in: query
        description: "country (default) | nearest | border. country = national average; nearest = stations near lat/lon; border = stations near a checkpoint"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO country code for mode=country (PL, DE, AT, FR, ES, IT, PT, SI, LU, RO, DK, HR, HU, SK, UA, …)"
        schema: 
          type: string
      - name: lat
        in: query
        description: "Latitude for mode=nearest"
        schema: 
          type: string
      - name: lon
        in: query
        description: "Longitude for mode=nearest (alias: lng)"
        schema: 
          type: string
      - name: radius_km
        in: query
        description: "Search radius km for mode=nearest (default 30; alias: radius)"
        schema: 
          type: string
      - name: ppid
        in: query
        description: "Checkpoint ID for mode=border (e.g. id_13)"
        schema: 
          type: string
      - name: fuel_type
        in: query
        description: "Optional, for mode=nearest: diesel | e5 | e10 | superplus | super100 | premdiesel | truckdiesel | hvo | lpg | cng | adblue | e85 | lng (availability varies by station/region). Local pump names are accepted as well — ON, Olej napędowy, Pb95, Nafta, Dizel, Gázolaj, Motorină, Benzină 95, ДП, А-95, Motorin, Gasóleo, Sans plomb 95, Bleifrei … — resolved against `country` (or, for coordinate products, the country the point falls in), because the same wording is not the same grade everywhere: “95” is E10 at a Danish, Finnish, French, British, Belgian or Dutch pump and E5 at a Polish or German one. The response echoes `fuel_type` (canonical), `fuel_type_requested` (as you typed it) and `fuel_type_local`. A name we cannot place is never swapped for a default grade — the answer comes back empty and says so. Full table of names per country: /api/v2/data/fuel-grades."
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code for labels
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max stations returned for mode=nearest/border (default 5)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fuel-cities: 
  get: 
    summary: Fuel Prices by City API
    description: "Per-city fuel price summary for a country: cheapest station price and average across the top 5 stations in each major city. City-level data today: AT, DE, ES, FR, HR, IT, LU, PT, SI, DK — RO is accepted but has no priced stations yet and returns no cities. Which grades a country can answer differs sharply (SI, IT and PT carry diesel only; HR diesel and lpg; DE, AT, FR and LU carry most of the range), so every response reports `available_fuel_types` derived from the station data actually reachable from that country's cities — read it before choosing `fuel_type`. Asking for a grade the country has no price for returns `cities: []` and a `note` naming what is available; it is never silently answered with a different grade."
    operationId: get_fuel_cities
    parameters:       - name: country
        in: query
        description: "ISO-2 country code (required). Accepted: at, de, fr, es, it, pt, si, lu, ro, dk, hr — ro currently answers with no cities (no priced stations recorded)"
        schema: 
          type: string
      - name: fuel_type
        in: query
        description: "diesel (default) | e5 | e10 | superplus | super100 | premdiesel | truckdiesel | hvo | lpg | cng | adblue | e85 | lng — availability is per country, not per platform. Read `available_fuel_types` in the response and pick from it; a grade absent from that list returns an empty `cities` array with a `note`, not a fallback grade. Local pump names are accepted as well — ON, Olej napędowy, Pb95, Nafta, Dizel, Gázolaj, Motorină, Benzină 95, ДП, А-95, Motorin, Gasóleo, Sans plomb 95, Bleifrei … — resolved against `country` (or, for coordinate products, the country the point falls in), because the same wording is not the same grade everywhere: “95” is E10 at a Danish, Finnish, French, British, Belgian or Dutch pump and E5 at a Polish or German one. The response echoes `fuel_type` (canonical), `fuel_type_requested` (as you typed it) and `fuel_type_local`. A name we cannot place is never swapped for a default grade — the answer comes back empty and says so. Full table of names per country: /api/v2/data/fuel-grades."
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code for city names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/pois: 
  get: 
    summary: Driver POIs API
    description: "Truck parkings (14k+), free showers, services and supermarkets across Europe with coordinates. Results are sorted closest-first with distance_km. Locate by lat/lon or by city (+country)."
    operationId: get_pois
    parameters:       - name: type
        in: query
        description: "parking|autohof|truck_stop|shower|restaurant|supermarket|industrial (comma-separable)"
        schema: 
          type: string
      - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city (e.g. city=Brest needs FR vs BY)"
        schema: 
          type: string
      - name: radius
        in: query
        description: "Radius km (default 25, max 150)"
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (default 50, max 500)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for country names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/truck-parkings: 
  get: 
    summary: Truck Parking API
    description: "The closest truck parkings, Autohöfe and truck stops to a point or city — sorted by distance with distance_km, name, coordinates and country. 14k+ locations across Europe."
    operationId: get_truck_parkings
    parameters:       - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city"
        schema: 
          type: string
      - name: radius
        in: query
        description: "Radius km (default 25, max 150)"
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (default 50, max 500)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for country names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/shops: 
  get: 
    summary: Nearby Shops API
    description: "The closest supermarkets and grocery shops to a point or city — sorted by distance with distance_km, name, coordinates and country."
    operationId: get_shops
    parameters:       - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city"
        schema: 
          type: string
      - name: radius
        in: query
        description: "Radius km (default 25, max 150)"
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (default 50, max 500)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for country names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/showers: 
  get: 
    summary: Free Showers API
    description: "The closest free showers for drivers to a point or city — sorted by distance with distance_km, name, coordinates and country."
    operationId: get_showers
    parameters:       - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city"
        schema: 
          type: string
      - name: radius
        in: query
        description: "Radius km (default 25, max 150)"
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (default 50, max 500)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for country names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/restaurants: 
  get: 
    summary: Driver Restaurants API
    description: "The closest driver-friendly restaurants to a point or city — sorted by distance with distance_km, name, coordinates and country."
    operationId: get_restaurants
    parameters:       - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city"
        schema: 
          type: string
      - name: radius
        in: query
        description: "Radius km (default 25, max 150)"
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (default 50, max 500)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for country names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/industrial: 
  get: 
    summary: Industrial Zones API
    description: "The closest industrial and logistics zones to a point or city (3k+ across Europe) — sorted by distance with distance_km, name, coordinates and country."
    operationId: get_industrial
    parameters:       - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city"
        schema: 
          type: string
      - name: radius
        in: query
        description: "Radius km (default 25, max 150)"
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (default 50, max 500)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for country names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fuel-stations: 
  get: 
    summary: Nearby Fuel Stations API
    description: "The closest petrol stations to a point or city with current prices per fuel type, sorted by distance. Station-level coverage: DE, IT, FR, AT, ES, SI, HR, LU, PT, DK, plus PL for the Tricity area and the DE/PL border crossings only (Gdansk/Gdynia/Sopot and nearby towns) — same data as the nakordoni.eu fuel pages; use the fuel API country mode for national averages elsewhere. Prices are returned in each station's own currency (PLN for Polish stations, EUR elsewhere) — read the per-station currency field, never compare the raw numbers. When no stations match, the response includes a coverage object naming the covered countries, and a sparse_coverage list of countries covered only in part, instead of a silent empty list."
    operationId: get_fuel_stations
    parameters:       - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city"
        schema: 
          type: string
      - name: radius_km
        in: query
        description: "Search radius km (default 25, max 25; alias: radius)"
        schema: 
          type: string
      - name: fuel_type
        in: query
        description: "Optional filter: diesel | e5 | e10 | superplus | super100 | premdiesel | truckdiesel | hvo | lpg | cng | adblue | e85 | lng (availability varies by station/region; Polish stations report Pb95 as e5, Pb98 as superplus and ON as diesel). Local pump names are accepted as well — ON, Olej napędowy, Pb95, Nafta, Dizel, Gázolaj, Motorină, Benzină 95, ДП, А-95, Motorin, Gasóleo, Sans plomb 95, Bleifrei … — resolved against `country` (or, for coordinate products, the country the point falls in), because the same wording is not the same grade everywhere: “95” is E10 at a Danish, Finnish, French, British, Belgian or Dutch pump and E5 at a Polish or German one. The response echoes `fuel_type` (canonical), `fuel_type_requested` (as you typed it) and `fuel_type_local`. A name we cannot place is never swapped for a default grade — the answer comes back empty and says so. Full table of names per country: /api/v2/data/fuel-grades."
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max stations (default 5, max 20)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for labels (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/internet-points: 
  get: 
    summary: Internet Points API
    description: "Mobile-operator shops and WiFi points useful to drivers on the road, nearest-first from a point or city with distance_km."
    operationId: get_internet_points
    parameters:       - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city"
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (default 20, max 50)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for country names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/vignettes: 
  get: 
    summary: "Vignettes & Road Tolls API"
    description: "Whether a country requires a vignette for highway travel, current prices per duration and where to read more — per country or for a whole trip."
    operationId: get_vignettes
    parameters:       - name: country
        in: query
        description: "ISO-2 country code (e.g. AT, CH, SI)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fuel-cheapest: 
  get: 
    summary: Cheapest Fuel Nearby API
    description: "The cheapest petrol stations around a point or city, ranked by price for the chosen fuel type (closest wins a tie). Station-level coverage: DE, IT, FR, AT, ES, SI, HR, LU, PT, DK, plus PL for the Tricity area and the DE/PL border crossings only (Gdansk/Gdynia/Sopot and nearby towns). Ranking is per fuel type within one search area, and prices carry each station's own currency (PLN in Poland, EUR elsewhere). When no stations match, the response includes a coverage object naming the covered countries, and a sparse_coverage list of countries covered only in part, instead of a silent empty list."
    operationId: get_fuel_cheapest
    parameters:       - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city"
        schema: 
          type: string
      - name: radius_km
        in: query
        description: "Search radius km (default 25, max 25; alias: radius)"
        schema: 
          type: string
      - name: fuel_type
        in: query
        description: "diesel (default) | e5 | e10 | superplus | super100 | premdiesel | truckdiesel | hvo | lpg | cng | adblue | e85 | lng — price ranking is per fuel type. Local pump names are accepted as well — ON, Olej napędowy, Pb95, Nafta, Dizel, Gázolaj, Motorină, Benzină 95, ДП, А-95, Motorin, Gasóleo, Sans plomb 95, Bleifrei … — resolved against `country` (or, for coordinate products, the country the point falls in), because the same wording is not the same grade everywhere: “95” is E10 at a Danish, Finnish, French, British, Belgian or Dutch pump and E5 at a Polish or German one. The response echoes `fuel_type` (canonical), `fuel_type_requested` (as you typed it) and `fuel_type_local`. A name we cannot place is never swapped for a default grade — the answer comes back empty and says so. Full table of names per country: /api/v2/data/fuel-grades."
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max stations (default 5, max 20)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for labels (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fuel-grades: 
  get: 
    summary: Fuel Grade Names API
    description: "The naming table behind every fuel product: our canonical grade vocabulary (diesel, premdiesel, truckdiesel, hvo, petrol92, e5, e10, superplus, super100, e85, lpg, cng, lng, adblue) and what each grade is called at a pump in 41 European countries — ON and Olej napędowy in Poland, Nafta in Czechia, Gázolaj in Hungary, Motorină in Romania and Moldova, ДП in Ukraine, Motorin in Turkey, Gasóleo in Portugal and Spain. Every name listed here is accepted by the fuel_type parameter of the fuel, fuel-local, fuel-stations, fuel-cheapest and fuel-cities products, so you can pass a driver's own wording straight through. Resolution is country-first because the same word is not the same grade everywhere: “95” is E10 at a Danish, Finnish, French, British, Belgian or Dutch pump and E5 at a Polish or German one — send `country` together with a local name. This is a NAMING table and is deliberately wider than our price coverage: it answers what a grade is called in a country whether or not we quote a price there (we hold no station prices for TR or MD at all), and `station_level` on each grade says only which grades station feeds report anywhere. Pass `fuel_type` to probe one name and get back the canonical grade it resolves to, or null when we cannot place it — we never guess a default grade."
    operationId: get_fuel_grades
    parameters:       - name: country
        in: query
        description: "Optional ISO-2 filter — return just that country's local names instead of all 41 (PL, DE, UA, TR, MD, …). 404 when the country is not in the table."
        schema: 
          type: string
      - name: fuel_type
        in: query
        description: "Optional probe: resolve one name in the context of `country` and report the canonical grade under `resolved` (e.g. country=PL&fuel_type=ON → diesel; country=DK&fuel_type=95 → e10; country=PL&fuel_type=95 → e5). null means we could not place it."
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fuel-local: 
  get: 
    summary: Local Fuel Price API
    description: "Best available fuel price for ANY point in Europe, resolved down a three-tier fallback ladder so a coordinate never comes back empty where we have data at all: pump prices from the nearest stations when the point is inside station-level coverage (DE, IT, FR, AT, ES, SI, HR, LU, PT, DK, plus PL for the Tricity area and the DE/PL border crossings only), else the regional average for the administrative region the point falls in (Ukraine only today — the UA oblast feed, in UAH), else the national average for the country. Every response carries a `resolution` field naming the tier that answered — `station` (data is a list of stations with distance_km, each in its own currency), `region` (one oblast-average object plus `region`, an ISO 3166-2 code such as UA-46, `region_name` and `region_center_dist_km`) or `country` (one national-average object). The region and country tiers return the same price keys: petrol/petrol95plus/petrol92/diesel/lpg + currency + updated date. Branch on `resolution`, never on the shape. Ukraine has no per-station prices anywhere, so a UA point answers at `region` where the oblast is quoted and falls back to `country` otherwise. 404 when the point is outside every covered country (mid-ocean, outside Europe). The region and country tiers also carry a `grades` object mapping each price key to its canonical grade and to the name a driver in that country would use at the pump (UA `diesel` → ДП, PL `petrol` → Pb95). For a plain national average without coordinates use the `fuel` product, for a pure station search `fuel-stations`, for price ranking `fuel-cheapest`."
    operationId: get_fuel_local
    parameters:       - name: lat
        in: query
        description: Latitude
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city"
        schema: 
          type: string
      - name: radius_km
        in: query
        description: "Station-tier search radius km (default 25, max 25; alias: radius). No station inside it means the answer falls through to the country tier — it never widens the search on its own."
        schema: 
          type: string
      - name: fuel_type
        in: query
        description: "Optional station-tier filter: diesel | e5 | e10 | superplus | super100 | premdiesel | truckdiesel | hvo | lpg | cng | adblue | e85 | lng. Ignored at country tier, which always returns every grade the country reports. Local pump names are accepted as well — ON, Olej napędowy, Pb95, Nafta, Dizel, Gázolaj, Motorină, Benzină 95, ДП, А-95, Motorin, Gasóleo, Sans plomb 95, Bleifrei … — resolved against `country` (or, for coordinate products, the country the point falls in), because the same wording is not the same grade everywhere: “95” is E10 at a Danish, Finnish, French, British, Belgian or Dutch pump and E5 at a Polish or German one. The response echoes `fuel_type` (canonical), `fuel_type_requested` (as you typed it) and `fuel_type_local`. A name we cannot place is never swapped for a default grade — the answer comes back empty and says so. Full table of names per country: /api/v2/data/fuel-grades."
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max stations at station tier (default 5, max 20)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for labels and the country name (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/currency: 
  get: 
    summary: Currency Exchange Rates API
    description: "EUR-based exchange rates for PLN, CZK, HUF, USD, GBP, CHF, NOK and UAH — sourced from Frankfurter (ECB), cached 6h. No parameters; always returns the full rate table. Powers the nakordoni.eu currency calculator and fuel-cost pages."
    operationId: get_currency
    parameters: []
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/truck-bans: 
  get: 
    summary: Truck Driving Bans API
    description: "European truck driving restrictions for one or more countries, including seasonal and holiday bans. Each ban carries its restriction type (General / Local / Sunday / Holiday / Seasonal), the exact scope or roads affected and the minimum weight, and each country a live status computed in its own timezone (active_window / next_window), plus a covered_countries list. ?country= accepts a comma-separated list of up to 3 codes; it is optional in v1 and required in v2. The response also reports `returned`, `total_available` and `truncated` so a capped answer is never mistaken for a complete one, plus `window` {from,to,days} naming the exact date range it covers. v1 always covers the next 7 days; v2 additionally accepts ?date= / ?date_from= + ?date_to= for any window up to 92 days, beginning at most 7 days in the past (this is a forward-looking calendar — older history is refused with 400 date_too_old) and running forward to 2028-12-31."
    operationId: get_truck_bans
    parameters:       - name: country
        in: query
        description: "ISO-2 country code, or a comma-separated list of up to 3, e.g. RO or DE,RO. More than 3 is refused with 400 too_many_countries — split the request. Optional in v1, where an unscoped call returns a capped slice — check truncated. Required in v2."
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code for country names and summary (default en)
        schema: 
          type: string
      - name: include_ua_heat
        in: query
        description: "1 = also return Ukraine's computed summer heat ban (trucks >24 t banned 10:00-22:00 when forecast temp >+28 °C), per oblast. Included automatically when Ukraine is in scope (country=UA) — this flag only adds it to a request scoped to some other country"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/trading-sundays: 
  get: 
    summary: Trading Sundays API
    description: "Sunday retail-opening regulations and upcoming trading Sundays per regulated EU country."
    operationId: get_trading_sundays
    parameters:       - name: country
        in: query
        description: ISO country code (optional)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/holiday-calendar: 
  get: 
    summary: Holiday Calendar API
    description: "Official public holidays per European country — dates, local names and type, each country's full holiday list included. Backed by the same Nager.Date / OpenHolidaysAPI service (7-day cache, locally-computed Kosovo calendar) that powers the nakordoni.eu holiday calendar page and the prediction system's calendar factors. One country -> a flat object; several -> the same shape wrapped in a list. upcoming=1 switches to a flat, date-sorted cross-country feed; compare_to switches to a same-vs-different comparison across countries — useful for checking whether a date is a holiday on both sides of a border crossing or just one."
    operationId: get_holiday_calendar
    parameters:       - name: country
        in: query
        description: "ISO-2 country code, or comma-separated list of up to 15, e.g. PL or PL,DE,UA. Omit for the default core set (UA,PL,SK,HU,RO,MD,DE,CZ,BG,AT). One resolved country returns a flat object; several return a list."
        schema: 
          type: string
      - name: compare_to
        in: query
        description: "ISO-2 country code, or comma-separated list, to compare against `country`. Switches to compare mode: returns which holiday dates are shared by ALL selected countries (`same`) vs only some of them (`different`, with per-date in/not_in lists)"
        schema: 
          type: string
      - name: year
        in: query
        description: "YYYY (default: current year)"
        schema: 
          type: string
      - name: upcoming
        in: query
        description: "1 = switch to a flat, date-sorted list of upcoming holidays across the selected countries within `days` (optional)"
        schema: 
          type: string
      - name: days
        in: query
        description: "Horizon in days for upcoming mode, 1-180. Omitted or 0 = no limit (everything the underlying service can see: this year + next)"
        schema: 
          type: string
      - name: lang
        in: query
        description: "Language(s) for the localized `name` field (default en) — same 24-language translator as the nakordoni.eu holiday calendar page. Falls back to the local/English name for anything not yet cached. Comma-separated for several, up to 10, e.g. lang=en,uk,pl — `name` stays the first requested language; every holiday also gets a `names` object keyed by language code with all of them."
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/bus-carriers: 
  get: 
    summary: Bus Carrier Border Stats API
    description: "Border-crossing performance per bus carrier: crossings, average/median/min/max wait minutes — built from our own plate-matched crossing records."
    operationId: get_bus_carriers
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13 — or \"all\" for the aggregated roster"
        schema: 
          type: string
      - name: days
        in: query
        description: "Period 1-90 (default 30)"
        schema: 
          type: string
      - name: min_crossings
        in: query
        description: Minimum crossings to include a carrier (default 3)
        schema: 
          type: string
      - name: limit
        in: query
        description: Max carriers returned (default 20)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/road-conditions: 
  get: 
    summary: Road Conditions API
    description: "Live road conditions on the approaches to a border crossing: accidents, roadworks, closures, congestion, weather hazards, potholes and ice. Merges our own driver reports with the incident feeds we run the navigator on — national road authorities (GDDKiA, autobahn.de, ÖAMTC, Zjazdnost, Digitraffic, CCISS, DGT) plus TomTom, HERE and crowd reports — deduplicated across sources, each row carrying the `source` it came from. Without coordinates the answer is scoped to the BORDER CORRIDORS rather than a whole country: the last 50 km of the main road from each capital to the crossing, on both sides of the border. Pass ?ppid= for one crossing, or lat/lng+radius for a plain radius search anywhere."
    operationId: get_road_conditions
    parameters:       - name: country
        in: query
        description: "ISO-2 country code (optional). Returns that country's side of the border corridors — not a country-wide dump"
        schema: 
          type: string
      - name: ppid
        in: query
        description: "Checkpoint ID, e.g. id_13 (optional). Scopes the answer to that crossing's corridor: the last 50 km of the main road to it on BOTH sides of the border"
        schema: 
          type: string
      - name: condition_type
        in: query
        description: "accident|roadwork|closure|congestion|weather|hazard|pothole|speed_bump|object|stopped|ice|other (optional). In v1 anything an upstream feed reports outside this list is mapped to `other`; v2 returns the raw value"
        schema: 
          type: string
      - name: severity
        in: query
        description: "low|moderate|major|critical (optional)"
        schema: 
          type: string
      - name: lat
        in: query
        description: "Latitude (optional) — with lng, switches to a plain radius search"
        schema: 
          type: string
      - name: lng
        in: query
        description: Longitude (optional)
        schema: 
          type: string
      - name: radius
        in: query
        description: "Radius km (default 50). Applies ONLY with lat+lng; on the corridor path the road itself is the filter, not a circle"
        schema: 
          type: string
      - name: sources
        in: query
        description: "all (default) | user (our own driver reports only) | external (road-authority and provider feeds only)"
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max results (default 100, cap 500)"
        schema: 
          type: string
      - name: offset
        in: query
        description: Pagination offset (optional)
        schema: 
          type: string
      - name: include_expired
        in: query
        description: "1 = also return conditions whose expiry has passed (optional)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language for condition_type_name / severity_name labels — all 24 site languages (default uk)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/assistant: 
  get: 
    summary: Border AI Assistant API
    description: "Ask our production AI assistant any border-crossing question (queues, forecasts, rules, fuel, routes) and get the same grounded answer that powers the nakordoni.eu widget — in 24 languages. Already used in production by yaknakordoni.com.ua."
    operationId: get_assistant
    parameters:       - name: q
        in: query
        description: The question (plain text)
        schema: 
          type: string
      - name: lang
        in: query
        description: Answer language (default en)
        schema: 
          type: string
      - name: ppid
        in: query
        description: "Checkpoint context, e.g. id_13 (optional)"
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/assistant-custom: 
  get: 
    summary: Personalised AI Assistant API
    description: "Your own AI assistant, grounded on YOUR content plus OUR live border data. Point it at your markdown files or let us fetch the pages you name — we index them and answer from them. Choose which of our data feeds it may use (queue, forecast, alternatives, fuel, truck bans, holidays, road conditions…), choose the model tier (that is what sets the price), write your own instructions with {{feed.slug}} placeholders saying exactly where our data goes in the answer, and add a closing sentence of your own that is appended to every reply. Build it and test it at /{lang}/developers/studio, then call it here. Price per answer = model tier units + 1 unit per enabled feed (shown in the studio and in X-Devapi-Units)."
    operationId: get_assistant_custom
    parameters:       - name: assistant_id
        in: query
        description: Your assistant id from Developers → AI Studio (required)
        schema: 
          type: string
      - name: q
        in: query
        description: "The end-user question, plain text, max 1000 chars (required)"
        schema: 
          type: string
      - name: lang
        in: query
        description: Answer language code — overrides the assistant default (optional)
        schema: 
          type: string
      - name: ppid
        in: query
        description: "Checkpoint context for queue/forecast/alternatives feeds, e.g. id_13 (optional)"
        schema: 
          type: string
      - name: origin
        in: query
        description: Origin country code for the border feed (optional)
        schema: 
          type: string
      - name: destination
        in: query
        description: Destination country code for the border feed (optional)
        schema: 
          type: string
      - name: crossing_type
        in: query
        description: "Vehicle type for border/alternatives feeds: 4=car, 6=bus, 8=truck<7.5t, 9=truck (optional)"
        schema: 
          type: string
      - name: country
        in: query
        description: "Country context for fuel / truck-bans / holidays / road-conditions feeds (optional)"
        schema: 
          type: string
      - name: lat
        in: query
        description: Latitude for the POI feed (optional)
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude for the POI feed (optional)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/travel-matrix: 
  get: 
    summary: Border Travel Matrix API
    description: "Travel time + border queue data for all checkpoints from a given origin. Returns drive time, current queue, total estimated journey time, and distance for every relevant crossing — sorted from fastest. Supports multi-leg routes (e.g. Germany → Poland → Ukraine border). Powers the nakordoni.eu navigator \"Choose a crossing\" feature."
    operationId: get_travel_matrix
    parameters:       - name: origin_lat
        in: query
        description: Origin latitude (required)
        schema: 
          type: string
      - name: origin_lon
        in: query
        description: Origin longitude (required)
        schema: 
          type: string
      - name: type
        in: query
        description: "Crossing type: 4=car UA→EU (default), 5=car EU→UA, 6=bus, 7=pedestrian, 8=truck<7.5t, 9=truck"
        schema: 
          type: string
      - name: dest
        in: query
        description: "Destination country code (1=UA, 2=PL, 3=SK, 4=HU, 5=RO, 6=MD) or \"all\" (default)"
        schema: 
          type: string
      - name: origin_country
        in: query
        description: "ISO-2 origin country (e.g. DE, PL, CZ). Enables multi-leg route calculation for non-border countries"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code for checkpoint names (default uk)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/air-alerts: 
  get: 
    summary: Air Alert Proximity API
    description: "Air-raid alerts and airborne objects near ONE border crossing. Anchor on a checkpoint (ppid), a coordinate pair or a city and get back only what is inside your radius (default 100 km): which regions are under alert, how far each is, and how close any tracked object currently is on a 1-5 proximity band. Regions are returned as ISO 3166-2 region_code, the same classifier the regional fuel data uses. DELIBERATELY NOT REAL-TIME: every response is a snapshot 1-3 minutes old with the lag re-randomised per request and stated in as_of/lag_min, and object coordinates are never returned - only distance, bearing and speed relative to your anchor. Source data is crowd/OSINT-derived and partly hand-moderated: a signal, never ground truth, and never a substitute for official air-raid warnings."
    operationId: get_air_alerts
    parameters:       - name: ppid
        in: query
        description: "Checkpoint ID to anchor on, e.g. id_94 — use the Checkpoints Directory API to discover it. Alternative to lat/lon."
        schema: 
          type: string
      - name: lat
        in: query
        description: Latitude of the anchor point (alternative to ppid)
        schema: 
          type: string
      - name: lon
        in: query
        description: Longitude of the anchor point (alternative to ppid)
        schema: 
          type: string
      - name: city
        in: query
        description: "City name — alternative to lat/lon, resolved to coordinates"
        schema: 
          type: string
      - name: country
        in: query
        description: "ISO-2 country code, disambiguates city"
        schema: 
          type: string
      - name: radius_km
        in: query
        description: "Search radius in km around the anchor (default 100, min 10, max 300). The 1-5 proximity band is scaled to this radius: 5 = nearest fifth, 1 = outermost fifth."
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/route-plan: 
  get: 
    summary: Route Planner API
    description: "A door-to-door plan for a border trip, not just a driving time. Returns the route, the crossings actually on it with their live or arrival-time-forecast queue, and the stops a driver really makes — rest breaks, a meal, refuelling — laid out on one timeline. The border is part of that timeline: a long queue satisfies the break that was coming up and resets the driving clock, so a 3-hour wait is never reported as 3 hours PLUS a full set of breaks nobody took. Car stops follow a driving-hygiene model; bus and truck stops respect the mandatory EU 561/2006 rest, and the bus service overhead is calibrated on 1000+ licensed international coach schedules. Set stop_places=1 to name a real rest area or fuel station for each stop. Each border also reports wait_basis: vehicle_lane when your vehicle class has its own measured queue, car_lane when the car-lane queue is the best available signal for that crossing."
    operationId: get_route_plan
    parameters:       - name: origin_lat
        in: query
        description: Origin latitude (required)
        schema: 
          type: string
      - name: origin_lon
        in: query
        description: Origin longitude (required)
        schema: 
          type: string
      - name: dest_lat
        in: query
        description: Destination latitude (required)
        schema: 
          type: string
      - name: dest_lon
        in: query
        description: Destination longitude (required)
        schema: 
          type: string
      - name: vehicle
        in: query
        description: "car (default), bus or truck — picks both the routing profile and the stop model"
        schema: 
          type: string
      - name: depart
        in: query
        description: "ISO-8601 departure time, up to 14 days ahead (default: now). Drives the arrival-time queue forecast"
        schema: 
          type: string
      - name: via
        in: query
        description: "Optional waypoints as lat,lon;lat,lon (max 3) — e.g. to route through a different crossing"
        schema: 
          type: string
      - name: forecast
        in: query
        description: "1 (default) = forecast the queue for your arrival time at each crossing; 0 = use the current queue"
        schema: 
          type: string
      - name: stop_places
        in: query
        description: "1 = name a real rest area / fuel station for each stop (default 0)"
        schema: 
          type: string
      - name: overnight
        in: query
        description: "1 = add an advisory overnight stop when the drive exceeds 11 h (default 0)"
        schema: 
          type: string
      - name: geometry
        in: query
        description: "1 = include the full route geometry (default 0)"
        schema: 
          type: string
      - name: alternatives
        in: query
        description: "1 (default) = include nearby alternative crossings with their queues"
        schema: 
          type: string
      - name: preference
        in: query
        description: "recommended (default), fastest or shortest"
        schema: 
          type: string
      - name: lang
        in: query
        description: Language code for checkpoint names (default en)
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fleet-vehicles: 
  get: 
    summary: Fleet Vehicles API
    description: "Your own NakBus Live fleet: every vehicle registered to your company with plate, label, assigned route, public-map flag, status, whether a driver device is currently on shift, and the last measured timetable delay. Owner-scoped — the key sees its own fleet only, including vehicles hidden from the public bus map. Activate fleet tracking at nakordoni.eu/en/developers/fleet (first bus free)."
    operationId: get_fleet_vehicles
    parameters: []
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fleet-live: 
  get: 
    summary: Fleet Live Positions API
    description: "Where your buses are right now — one row per active vehicle with lat/lon, timestamp and age, speed, bearing and timetable delay, read from the same live store that powers the public bus map. Unlike the public feed this includes vehicles marked non-public and companies that opted out of the public map: it is your own data. Vehicles whose driver device is off shift (or silent for more than 10 minutes) are still listed, with live=false."
    operationId: get_fleet_live
    parameters: []
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
/fleet-history: 
  get: 
    summary: Fleet History API
    description: "Recorded GPS track of your own vehicles: every stored position point in a time window, in chronological order, with speed, bearing and accuracy. Filter to one vehicle or take the whole fleet. Window is limited to 31 days per call and 5000 points per response — page through longer periods by moving ?from= to the last returned timestamp."
    operationId: get_fleet_history
    parameters:       - name: vehicle_id
        in: query
        description: Restrict to one of your vehicles (optional; ids come from fleet/vehicles). Omit for the whole fleet.
        schema: 
          type: string
      - name: from
        in: query
        description: "Window start — unix timestamp or ISO-8601 datetime (default: 24 h before `to`). A datetime without an explicit offset is read as UTC."
        schema: 
          type: string
      - name: to
        in: query
        description: "Window end — unix timestamp or ISO-8601 datetime (default: now). The window may not exceed 31 days."
        schema: 
          type: string
      - name: limit
        in: query
        description: "Max points returned, 1-5000 (default 1000, values above 5000 are clamped). `truncated: true` means more points exist in the window."
        schema: 
          type: string
    responses: 
      200: 
        description: Success
        content: 
          application/json: 
            schema: 
              type: object
      401: 
        description: Unauthorized
      429: 
        description: Rate limit exceeded
